// Color Variables
$primary-color: rgba(41, 111, 255, 1);
$secondary-color: #4468b2;
$text-color: #818385;
$text-color-dark: #172231;
$body-color: #fff;
$border-color: #e7e7e7;
$black: #000;
$white: #fff;
$gray: #f5f6fa;
$bg-secondary: #4468b2;

// Font Variables
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Barlow Condensed', sans-serif;
$icon-font: 'FontAwesome';

strong {
        color: rgba(41, 111, 255, 1);
}