<!DOCTYPE html>

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{ if not .IsHome }}
	{{ partial "page-title.html" . }}
	{{ end }}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
	<script>
		window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
	  </script>
	<script defer src="/_vercel/speed-insights/script.js"></script>
	<script>
		window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
	  </script>
	<script defer src="/_vercel/insights/script.js"></script>
</body>

</html>
