{{ $data := index .Site.Data .Site.Language.Lang }}
<!-- footer -->
<footer>
  <!-- main footer -->
  <div class="section bg-secondary">
    <div class="container">
      <div class="row justify-content-between">
        <!-- footer content -->
        <div class="col-lg-5 mb-1 mb-lg-0">
          <!-- logo -->
          <a class="mb-4 d-inline-block" href="{{ .Site.BaseURL | relLangURL }}"><img class="img-fluid"
              src="{{ .Site.Params.logo_footer | relURL }}" alt="{{ .Site.Title }}" width="60%"></a>
          <p class="text-light mb-5">{{ .Site.Params.footer_content | markdownify }}</p>
        </div>
        <div class="col-lg-5 mb-5 mb-lg-0">
            <!-- contact info -->
            {{ with $data.homepage.contact }}
            <div class="mb-5 address">
              <h4 class="text-white mb-4">{{ i18n "follow"}}</h4>
              <p class="text-light mb-3">{{ .email | markdownify }}</p>
              <p class="text-light mb-3">{{ .description| markdownify }}</p>
              <p class="text-light mb-3"><img src="{{ .image | relURL }}" width="128px"></p>
            </div>
            {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ if .Site.Params.footer_header }}
  {{ "<!-- top header -->" | safeHTML }}
  <div class="top-header bg-secondary pt-2 pb-1">
    <div class="container">
      <div class="row align-items-center">
        {{ "<!-- social icons -->" | safeHTML }}
        <div class="col-lg-6 col-md-6 text-center text-md-left">
          <span class="text-white">{{ i18n "connect_with_us" }}:</span>
          <ul class="list-inline d-inline-block">
            {{ range .Site.Params.social }}
            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="{{ .link | safeURL }}"><i
                  class="fa {{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        {{ "<!-- mail and phone -->" | safeHTML }}
        <div class="col-lg-6 col-md-6 text-md-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item mx-0 border-right border-secondary"><a
                class="text-white d-inline-block px-lg-3 px-2" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a></li>
            <!-- <li class="list-inline-item mx-0"><a class="text-white d-inline-block px-lg-3 px-2" href="tel:{{ .Site.Params.mobile }}">{{ i18n "call_now" }}: <span class="text-primary">{{ .Site.Params.mobile }}</span></a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ "<!-- /top header -->" | safeHTML }}
  {{ end }}
  <!-- copyright -->
  <div class="bg-secondary-darken py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
          <p class="mb-0 text-white">{{ replace .Site.Params.copyright "{year}" now.Year | markdownify }}</p>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <ul class="list-inline">
            {{ range .Site.Menus.footer }}
            <li class="list-inline-item mx-0"><a class="d-inline-block px-3 text-white" href="{{ .URL | relLangURL }}"
                class="text-white">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ if .Site.Params.search }}
<script>
  var indexURL = {{ "index.json" | relURL}}
</script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | relURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink | relURL }}"></script>

{{ "<!-- Algolia -->" | safeHTML }}
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.js"></script>
<script>
  docsearch({
    apiKey: '{{ .Site.Params.algolia.searchOnlyKey }}',
    indexName: '{{ .Site.Params.algolia.indexName }}',
    appId: '{{ .Site.Params.algolia.appId }}',
    inputSelector: '#js-algolia-btn',
    debug: false,
  });
</script>

{{ "<!-- baidu tongji-->" | safeHTML }}
{{ with .Site.Params.baidu_tongji_id}}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?{{ . }}";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
{{ end }}

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QKTBYBM57W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QKTBYBM57W');
</script>

{{ end }}
