name: algolia-index-update
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v6

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.65.3'
          extended: true

      - name: Build
        # remove --minify tag if you do not need it
        # docs: https://gohugo.io/hugo-pipes/minification/
        run: hugo
      # - name: Deploy
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     personal_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: ./public
      #     cname: sunny0826.com
      - name: Install Algolia Search Client
        env:
          INDEX_PATH: 'public/algolia.json'
          ALGOLIA_INDEX_ID: 'QD329MV9NX'
          ALGOLIA_INDEX_ADMIN_KEY: ${{ secrets.ADMIN_KEY }}
          ALGOLIA_INDEX_NAME: 'guoxudong.io'
        run: |
          pip install 'algoliasearch>=2.0,<3.0'
          python3 script/algolia-index-uploader.py ${GITHUB_WORKSPACE}/${INDEX_PATH}
